@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
body,html {
  margin: 0;
  font-family: "Open Sans" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin:0;
}
/* html * {
  font-family: 'Roboto', Serif;
} */
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* Header */
body {
  display: flex;
  flex-direction: column;
}
/* Navigation color */

#bodyContainer{
  background: #1d54a2;
  min-height: 9%;
}
#root {
  height: 100%;
}
.main-page {
  height: 89%;
  /* background-color: #1d54a2; */
}
/* article { 
  overflow-x: hidden; 
  overflow-y: scroll; 
  height: calc( 100% - 50px ); 
} */
header {
  /* background-color: lightcyan; */
  height: 75px;

}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
  /* color: rgb(68,68,68,.5); */
  font-size: 15px;
  font-style: normal;
  font-family: "Montserrat";
 font-weight: 600;
}
article {
  height: calc(100% - 100px);
}
/* End Header */
/* Footer */
footer {
  /* background-color: #5a9f9a; */
  /* height: 50px; */
  padding-bottom: 10px;
}
.c-name{
  text-decoration: none;
  color: #9b9b9b;
}
.text-white{
  color: #9b9b9b !important;
}
/* Footer Ends */

/* navigation css */

.mr-auto1, .mx-auto {
  margin-right: none !important;
  width: 50%;
}
.navbar-light .navbar-nav .nav-link{
  color: #2a2a2a !important;
  padding: 15px;
}

/* NEW CSS */

.main-container {
  font-family: 'Roboto', sans-serif;
  margin: 0; 
  padding: 0; 
  min-height: 100vh; 
  max-height: 100vh;
  overflow-y: scroll;
}

.content-container {
  margin: 0; 
  padding: 0;
  background-color: #d7e0ed;
}

.header-nav-items {
  font-weight: 400 !important;
  font-family: 'Roboto', sans-serif !important;
}

.pm-header {
  background-color: #FAFAFA;
  border-bottom: 1px solid #e0e8f2;
}

.pm-logo-section {
  margin: 0;
  padding: 5px 15px; 
  background-color: #d7e0ed;
  border: 1px solid #e0e8f2;
  z-index: 999;
}

.pm-side-bar-list-group {
  margin: 0;
  padding: 0;
  border-bottom: 0;
}

.pm-side-bar-list-group-item {
  margin: 0; 
  padding: 0; 
  border: none; 
  border-bottom: 0; 
  color: #FFFFFF
}

.pm-side-bar-list-group-item {
  cursor: pointer;
}

.pm-side-bar-sub-list-group {
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 0;
  color: #FFFFFF;
}

.pm-side-bar-sub-list-item {
  padding: 15px;
  padding-left: 20px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  background-color: #2972aa;
  /* 38B772 */
}

.pm-side-bar-sub-list-item:hover,
.pm-side-bar-sub-list-item-active {
  cursor: pointer;
  font-size: 13px;
}

.pm-side-bar-accordion-toggle {
  background-color: #1263a1;
  /* 32a466 */
  padding: 20px;
  border: none;
  font-size: 14px;
  font-weight: 'normal';
}

.pm-breadcrumb {
  width: 100%; 
  background-color: #FAFAFA; 
  font-size: 12px !important; 
  padding: 18px;
  font-weight: 400;
  border-radius: 0;
  color: #2A363A !important;
  border-bottom: 1px solid #e0e8f2;
}

.section-heading-container {
  padding: 15px; 
  color: #1263a1;
  background-color: rgba(231, 233, 241, 0.41);
  /* background-color: #88b1d0; */
  /* border: 1px solid #e2e2e2; */
}

.section-heading-text {
  font-size: 22px; 
  font-weight: 400;
}

.pm-graph-types {
  padding: 10px 30px 15px 30px;
  border-bottom: 1px solid #e2e2e2;
}

.pm-active-graph-type {
  padding: 10px 30px 15px 30px;
  border-bottom: 2px solid #1263a1 !important;
}

.pm-active-column-list-item {
  color: #FAFAFA;
  background-color: #2972aa;
  background-color: #4182b3;
}

.pm-search-container {
  background-color: #2972aa;
  text-align: center;
  margin: 0;
  padding: 10px 15px 5px 15px;
}

.pm-attribute-search-container {
  background-color: #FAFAFA;
  text-align: center;
  margin: 0;
  padding-bottom: 0;
}

.pm-search {
  border: none; 
  border-bottom: 1px solid #FFFFFF; 
  border-radius: 0; 
  color: #FFFFFF;
  outline: none !important;
}

.pm-search:focus {
  border: none; 
  border-bottom: 1px solid #FFFFFF; 
  border-radius: 0; 
  background-color: #2972aa; 
  color: #FFFFFF;
  outline: none !important;
}

.pm-attributes-search:focus {
  color: #2972aa;
  background-color: #FAFAFA; 
  border: none; 
  border-bottom: 1px solid #2972aa;
  border-radius: 0; 
  outline: none !important;
}

.pm-search::placeholder {
  color: #FFFFFF;
}

.pm-attributes-search::placeholder {
  color: #2972aa;
}

.pm-attributes-search {
  border: none; 
  border-bottom: 1px solid #2972aa; 
  border-radius: 0; 
  background-color: #FAFAFA; 
  color: #2972aa;
  outline: none !important;
}

.pm-right-container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #FAFAFA;
  border-left: 1px solid #e2e2e2;
}

.pm-attributes-header, .pm-date-range-header {
  padding: 15px; 
  font-size: 15px; 
  background-color: #1263a1; 
  color: #FFFFFF;
}

.pm-column-list-item {
  margin: 0;
  cursor: pointer;
  border: none;
  font-size: 14px;
}

.pm-column-list-item:first-child, .pm-column-list-item:last-child {
  border-radius: 0;
}

.pm-alert {
  background-color: rgba(231, 233, 241, 0.41);
  color: #38b772;
  border-radius: 0;
}

.pm-date-range-container {
  padding: 0;
  margin: 0;
}

.pm-date-range-input-group {

  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 0 !important;
  background-color: #FAFAFA;
}

.pm-date-range-input {
  border: none; 
  border-radius: 0; 
  border-bottom: 1px solid #1263a1; 
  width: auto;
  outline: none !important;
  background-color: #FAFAFA;
}

.pm-date-range-input:focus {
  border: none;
  border-radius: 0; 
  border-bottom: 1px solid #1263a1;
  outline: none !important;
  background-color: #FAFAFA;
}

.pm-select-input {
  border-radius: 0; 
  border: 1px solid #1263a1;
  background-color: #FAFAFA;
  outline: none !important;
}

.pm-select-input:focus, 
.pm-select-input:active {
  outline: none !important;
}

.pm-select-input > option {
  padding: 15px;
  font-size: 14px;
  line-height: 20px;
  background-color: #FAFAFA;
}

/* NEW CSS */

/* Login */

.pm-login-container {
  /* font-family: 'Roboto', sans-serif; */
  background-image: url('./assets/Dashboard/Inviktus.jpg');
  background-size: cover;
    background-position: center;
  height: 100vh;
}

.login-card {
  max-width: 400px;
  margin: 20px auto;
}

.login-logo-container {
  text-align: center;
}

.login-card-body {
  margin-top: 30px;
}

.login-text-container {
  text-align: center;
  margin-top: 20px;
}

.login-text {
  font-weight: 100;
}

.login-container {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.login-btn-container {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.error-container {
  width: 70%;
  margin: 10px auto 20px auto;
  font-size: small;
  font-weight: 100;
  color: #ff5722;
}

.input-error-container {
  width: 70%;
  margin: -10px auto 20px auto;
  font-size: small;
  font-weight: 100;
  color: #ff5722;
}

.login-input {
  width: 70%;
  margin-bottom: 20px;
}

.error-input {
  border-color: #ff5722 !important;
}

.login-btn {
  width: 70%;
  background-color: #266985 !important;
  color: #ffffff !important;
  margin-bottom: 50px;
}

/* Customer Login */