@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap');
body,html {
  margin: 0;
  font-family: "Open Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin:0;
}
/* html * {
  font-family: 'Roboto', Serif;
} */
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* Header */
body {
  display: flex;
  flex-direction: column;
}
/* Navigation color */

#bodyContainer{
  background: #1d54a2;
  min-height: 9%;
}
#root {
  height: 100%;
}
.main-page {
  height: 89%;
  /* background-color: #1d54a2; */
}
/* article { 
  overflow-x: hidden; 
  overflow-y: scroll; 
  height: calc( 100% - 50px ); 
} */
header {
  /* background-color: lightcyan; */
  height: 75px;

}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
  /* color: rgb(68,68,68,.5); */
  font-size: 15px;
  font-style: normal;
  font-family: "Montserrat";
 font-weight: 600;
}
article {
  height: calc(100% - 100px);
}
/* End Header */
/* Footer */
footer {
  /* background-color: #5a9f9a; */
  /* height: 50px; */
  padding-bottom: 10px;
}
.c-name{
  text-decoration: none;
  color: #9b9b9b;
}
.text-white{
  color: #9b9b9b !important;
}
/* Footer Ends */

/* navigation css */

.mr-auto1, .mx-auto {
  margin-right: none !important;
  width: 50%;
}
.navbar-light .navbar-nav .nav-link{
  color: #2a2a2a !important;
  padding: 15px;
}