.select-video video {
    width: 100%;
    border-radius: 4px;
    padding-bottom: 20px;
    /* background-color: #529695; */
    /* height: 450px; */
    /* margin-top:78%; */
  }
  .dummy{
    min-height: 550px;
    font-family: "Open Sans";
    color:rgb(0, 122, 255);
    
  }
  .d-block{
    padding : 0.5em 10px 0 10px;
    border-radius: 4px;
  }
  .comingsoon{
    text-align: center;
    padding : 4% 0 0 0;
    color:rgb(0, 122, 255);
  }
  .dummy h2:nth-child(1) {
    text-align: justify;
    padding: 10% 10% 0 10%;
    font-family: "Josefin Sans";
    color:rgb(0, 122, 255);
  }
  .demoMessage{
    position: absolute;
    color:rgb(255, 255, 255);
    text-align: center;
    margin-left: 10%;
    margin-top: 15% !important;
  }
  
  .carousel-caption {
    position: absolute;
    right: 0%;
    bottom: 18%;
    left: 12%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: inherit;
    width: 35%;
    transform: translate3d(0px, 0px, 0px);
}
body{
  line-height: 1;
  letter-spacing: 0.02em;
}

.firstSlide span:first-child{
  color:rgb(0, 122, 255);
  box-sizing: border-box;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 50px;
  font-style: normal;
}
.firstSlide span:nth-child(3){
  color:rgb(0, 122, 255);
  box-sizing: border-box;
  display: inline-block;
  font-family: "Josefin Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}
.firstSlide p{
  color:rgb(0, 0, 0);
  box-sizing: border-box;
  display: inline-block;
  font-family: "Josefin Sans";
  font-style: normal; 
  font-size: 20px;
}
.secondSlide span:first-child{
  color:rgb(255, 255, 255);
  box-sizing: border-box;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 50px;
  font-style: normal;
}
.secondSlide span:nth-child(3){
  color:rgb(255, 255, 255);
  box-sizing: border-box;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}
.secondSlide p{
  color:rgb(255, 255, 255);
  box-sizing: border-box;
  display: inline-block;
  font-family: "Josefin Sans";
  font-style: normal;
  font-size: 20px;
}

.thirdSlide span:first-child{
  color:rgb(0, 122, 255);
  box-sizing: border-box;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 50px;
  font-style: normal;
  background-color: rgba(237, 245, 253, 0.5);
  border-radius: 4px;
}
.thirdSlide span:nth-child(3){
  color:rgb(0, 122, 255);
  box-sizing: border-box;
  display: inline-block;
  font-family: "Josefin Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  background-color: rgba(237, 245, 253, 0.5);
  border-radius: 4px;
}
.thirdSlide p{
  color:rgb(0, 0, 0);
  box-sizing: border-box;
  display: inline-block;
  font-family: "Josefin Sans";
  font-style: normal; 
  background-color: rgba(237, 245, 253, 0.5);
  border-radius: 4px;
  margin-top: 10px;
  font-size: 20px;
}

.fourthSlide span:first-child{
  color:rgb(255, 255, 255);
  box-sizing: border-box;
  display: inline-block;
  font-family: "Open Sans";
  font-size: 50px;
  font-style: normal;
}
.fourthSlide span:nth-child(3){
  color:rgb(255, 255, 255);
  box-sizing: border-box;
  display: inline-block;
  font-family: "Josefin Sans";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}
.fourthSlide p{
  color:blanchedalmond;
  box-sizing: border-box;
  display: inline-block;
  font-family: "Josefin Sans";
  font-style: normal; 
  font-size: 20px;
}